<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1>Vehicle Parking Management System</h1>
    </div>
    
    <div id="index"> 
        <h2>Welcome to the Parking App</h2>
        <p>Already a user? <a href="{{ url_for('login') }}">Login</a></p>
        <p>New to the website? <a href="{{ url_for('registration') }}">Register yourself</a></p>
    </div>
    
    <div id="footer">
        <p>&copy; 2025 Vehicle Parking App. All rights reserved.</p>

</body>
</html>